footer
	.ft_header
		.ft_header_separator
		.social_links
			a(href="https://www.facebook.com")
				i.fa.fa-facebook(aria-hidden="true")
			a(href="https://pinterest.com/")
				i.fa.fa-pinterest-p(aria-hidden="true")
			a(href="https://twitter.com")
				i.fa.fa-twitter(aria-hidden="true")
			a(href="https://www.linkedin.com")
				i.fa.fa-linkedin(aria-hidden="true")
		.ft_header_separator
	section.ft_menu
		.ft_menu_address
			h3 Address
			p.ft_menu_address_lineone 60 Adress str,
			p.ft_menu_address_linetwo FL 33134
			.ft_menu_address_linethree
				svg#Livello_1(enable-background='new 0 0 141.732 141.732', height='17px', version='1.1', viewbox='0 0 141.732 141.732', width='20px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
					g#Livello_9
						path(d='M88.637,42.678c0.045,0,0.086-0.003,0.131-0.003V0.004C88.723,0.004,88.682,0,88.637,0   c-23.654,0-42.829,31.197-42.829,69.68c0,38.479,19.175,69.679,42.829,69.679c0.041,0,0.082-0.003,0.121-0.005V96.699   c-0.039,0-0.08-0.003-0.121-0.003c-3.361,0-6.541,0.777-9.371,2.159c-4.145-8.11-6.605-18.253-6.605-29.26   c0-10.943,2.438-21.031,6.537-29.118C82.044,41.885,85.247,42.678,88.637,42.678 M95.923,40.26c0-0.048-0.004-0.09-0.006-0.133   h0.006V2.811h-0.006c0.002-0.044,0.006-0.087,0.006-0.131c0-1.413-1.145-2.562-2.557-2.562c-1.41,0-2.557,1.146-2.557,2.562   c0,0.044,0.004,0.087,0.006,0.131h-0.006V40.13h0.006c-0.002,0.043-0.006,0.085-0.006,0.133c0,1.402,1.146,2.545,2.557,2.545   C94.778,42.804,95.923,41.665,95.923,40.26 M95.917,136.665h0.006V99.346h-0.006c0.002-0.044,0.006-0.087,0.006-0.135   c0-1.409-1.145-2.558-2.557-2.558c-1.41,0-2.557,1.146-2.557,2.558c0,0.048,0.004,0.091,0.006,0.135h-0.006v37.315h0.006   c-0.002,0.043-0.006,0.085-0.006,0.129c0,1.406,1.146,2.545,2.557,2.545c1.412,0,2.557-1.139,2.557-2.545   C95.923,136.75,95.919,136.708,95.917,136.665', fill='#5a5a5a')
					g#Livello_1_1_
				p.ft_menu_address_linethree_text Phone: 
					span 305 447 6633
			.ft_menu_address_linefour
				svg#Layer_1(enable-background='new 0 0 500 500', height='16px', version='1.1', viewbox='0 0 500 500', width='15px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
					path(clip-rule='evenodd', d='M468.051,222.657c0-12.724-5.27-24.257-13.717-32.527  L282.253,45.304c-17.811-17.807-46.702-17.807-64.505,0L45.666,190.129c-8.448,8.271-13.717,19.803-13.717,32.527v209.054  c0,20.079,16.264,36.341,36.34,36.341h363.421c20.078,0,36.34-16.262,36.34-36.341V222.657z M124.621,186.402h250.758  c11.081,0,19.987,8.905,19.987,19.991v34.523c-0.088,4.359-1.818,8.631-5.181,11.997l-55.966,56.419l83.224,83.127  c6.904,6.904,6.904,18.081,0,24.985s-18.085,6.904-24.985,0l-85.676-85.672H193.034l-85.492,85.672  c-6.907,6.904-18.081,6.904-24.985,0c-6.906-6.904-6.906-18.081,0-24.985l83.131-83.127l-55.875-56.419  c-3.638-3.638-5.363-8.358-5.181-13.177v-33.343C104.632,195.307,113.537,186.402,124.621,186.402z', fill='#5a5a5a', fill-rule='evenodd')
				p.ft_menu_address_linefour_text Email: 
					a(href="") info@liliandesigns.com
		.ft_menu_company
			h3 Company
			.ft_menu_company_wrap
				.ft_menu_company_left
					ul
						li Home
						li Wedding
						li Baby
						li Quinces/Bar/Bat
						li Social
				.ft_menu_company_right
					ul 
						li Products/Services
						li Online Consultation
						li Blog
						li White Papers
						li Contact Us
		.ft_menu_signup
			h3 newsletter
			p.ft_menu_signup_text Sign up for news & special offers!
			.ft_menu_signup_email
				input(type="email" placeholder="Enter email here")
				p.ft_menu_signup_email_arrow
					svg#Layer_2(enable-background='new 0 0 50 50', height='30px', version='1.1', viewbox='0 0 50 50', width='20px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
						rect(fill='none', height='50', width='50')
						polygon(points='15,2.75 12.914,4.836 33.078,25 12.914,45.164 15,47.25 37.25,25 ', fill='#959595')
	.ft_bottom
		.ft_bottom_wrap
			p.ft_bottom_rights © 2018 CompanyName. All rights reserved. 
			.ft_bottom_terms
				a(href="") Terms 
				span | 
				a(href="") Privacy Policy