meta(charset="utf-8")
title Landing Page
meta(name="description" content="Landing Page")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
link(rel="stylesheet", type="text/css", href="style.css")
link(rel="stylesheet", type="text/css", href="css/fonts.css")
link(rel="stylesheet", type="text/css", href="css/owl.carousel.min.css")
link(rel="stylesheet", type="text/css", href="css/owl.theme.default.min.css")
