header#header
	.logo_wrap
		.logotype
			h1 Company
			p lorem 
				span ipsum
		.call_wrap
			p.call_text Call us Today
			p.call_phone 305.447.6622
			input(type='button', value='view collection')
	.separator
	#hamburger
		.line_ham
		.line_ham
		.line_ham
	nav#main_menu
		ul
			li.top_menu home
				.top_line
			li.top_menu wedding
				.top_line
				ul.bottom-menu
					li.bottom-menu_line1 Simple and Elegant
					li.bottom-menu_line2 Pebble paper
						img(src="images/bril.png", alt="Diamond")
					li.bottom-menu_line3 Pocket invitations
					li.bottom-menu_line4 Elegant
			li.top_menu baby 
				.top_line
			li.top_menu Quinces/Mitzvah 
				.top_line
			li.top_menu Social   
				.top_line
			li.top_menu Other Products/Services  
				.top_line
			li.top_menu Online Consultation
				.top_line
			li.top_menu Blog   
				.top_line
			li.top_menu White Papers
				.top_line
			li.top_menu contact us
				.top_line