main.main
	.pillar
		img(src="images/pillar.png", alt="Banner")
	.headline
		p Pebble paper
	.invite
		.invite_text
			p The invitations set the tone for this special day since it is the very first thing your guest will see regarding your upcoming nuptials. Wedding invitations offer a glimpse into the style, theme, and vision for this special occasion. 
			p Invitations that are attractive and speak to the specific character of the bride and groom make a considerable impact on those they reach. They also make wonderful memorabilia to look back on for decades to come.
			p At Lilian Designs Studios we work hard to deliver a very creative, unique, and personalized set of wedding invitations. We are one of the few companies in the area to focus almost exclusively on creating custom wedding invitations.
			p Some of our exclusive designs include pocket invitations, lace invitations, silk pocket invitations, embossed invitations and letterpress invitations.
			p Call us today to set up a free consultation at 
				span 305.447.6622
		section.slider
			.owl-carousel.owl-item
				.wrapper_owl(style="background: url('images/slider.png')")
				.wrapper_owl(style="background: url('images/slider.png')")
				.wrapper_owl(style="background: url('images/slider.png')")
				.wrapper_owl(style="background: url('images/slider.png')")
				.wrapper_owl(style="background: url('images/slider.png')")
