section.promotion
	.promo_block
		.eliminator
		p.promo_block_text1 simple and elegant
		.promo_block_img
			img(src="images/promo1.png", alt="Invitation")
			.promo_block_img_info
				.promo_block_img_info_text
					p }
					p Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly...
				input(type='button', value='view more')
	.promo_block
		.eliminator
		p.promo_block_text2 Pocket Invitations
		.promo_block_img
			img(src="images/promo2.png", alt="Invitation")
			.promo_block_img_info
				.promo_block_img_info_text
					p }
					p Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly...
				input(type='button', value='view more')
	.promo_block
		.eliminator
		p.promo_block_text3 Elegant
		.promo_block_img
			img(src="images/promo3.png", alt="Invitation")
			.promo_block_img_info
				.promo_block_img_info_text
					p }
					p Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly...
				input(type='button', value='view more')
	.promo_block.stub
		.eliminator
		p.promo_block_text3 Pocket
		.promo_block_img
			img(src="images/promo3.png", alt="Invitation")
			.promo_block_img_info
				.promo_block_img_info_text
					p }
					p Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly...
				input(type='button', value='view more')