doctype html
html(lang="en")
	head
		include templates/head
	body(onload="loaderFunction()")
		include templates/preloader
		include templates/header
		include templates/main
		include templates/ouroffer
		include templates/footer


				   
		script(src="script.js")

		
