header#header
	.logo
		img(src="images/logo.png", alt="Logo")
		p helicopter <br/>view
			span .
	nav#header_menu
		ul
			li
				.line
				a(href="/") about us
					span .
			li
				.line
				a(href="/") service
					span .	
			li
				.line
				a(href="/") out projecrtts
					span .
			li
				.line
				a(href="/") process
					span .
			li
				.line
				a(href="/") faq
					span .
			li
				.line
				a(href="/") blog
					span .
			li
				.line
				a(href="/") contacts
					span .
	#hamburger
		.line_ham
		.line_ham
		.line_ham
	.ellipse
