meta(charset="utf-8")
title Landing Page_2
meta(name="description" content="Landing Page_2")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
link(rel="stylesheet", type="text/css", href="style.css")
link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
link(rel="stylesheet", type="text/css", href="css/fonts.css")
