section#catalog
	.catalog_wrapper
		.content
			nav
				ul
					li
						a(href="#") Главная 
					li /
					li 		
						a(href="#") Каталог
					li /
					li 
						a(href="#") Бытовая техника
		.content_wrapper
			.leftblock
				nav
					ul.top_menu
						li.top_menu_style
							a(href="#") Автомобили
						li.top_menu_style Бытовая техника
								nav.lower_menu
									ul.lower_menu_style
										li
											a(href="#") Микроволновка
										li
											a(href="#") Холодильники
										li
											a(href="#") Посудомоечные машины
										li
											a(href="#") Чайники
						li.top_menu_style
							a(href="#") Мобильная техника
						li.top_menu_style
							a(href="#") Компьютеры
						li.top_menu_style
							a(href="#") Одежда
						li.top_menu_style
							a(href="#") Недвижимость
				.load
					img(src="images/excel.png",  width="97", height="111", alt="Load file")
					h2 Прайс-лист
			.rightblock
				.right-bk_wrapper
					.goods_block
						img(src="images/nophoto.png",  width="210", height="209", alt="Load file")
						p Самый клевый чайник, который надо купить!
						.price_block
							p 1 900 p.
							img(src="images/basket.png",  width="28", height="21", alt="Basket")
					.goods_block
						img(src="images/nophoto.png",  width="210", height="209", alt="Load file")
						p Самый клевый чайник, который надо купить!
						.price_block
							p 1 900 p.
							img(src="images/basket.png",  width="28", height="21", alt="Basket")
					.goods_block
						img(src="images/nophoto.png",  width="210", height="209", alt="Load file")
						p Самый клевый чайник, который надо купить!
						.price_block
							p 1 900 p.
							img(src="images/basket.png",  width="28", height="21", alt="Basket")
					.goods_block
						img(src="images/nophoto.png",  width="210", height="209", alt="Load file")
						p Самый клевый чайник, который надо купить!
						.price_block
							p 1 900 p.
							img(src="images/basket.png",  width="28", height="21", alt="Basket")
					.goods_block
						img(src="images/nophoto.png",  width="210", height="209", alt="Load file")
						p Самый клевый чайник, который надо купить!
						.price_block
							p 1 900 p.
							img(src="images/basket.png",  width="28", height="21", alt="Basket")
				.pages
					nav
						ul
							li 1
							li 2
							li 3
							li 4
							li 5
							li 6
							li 7
				.text_content
					p Компания «Пиксель Плюс» существует более 6 лет, за это время мы принимали участие в разработке более чем 700 сайтов, поэтому можем уверенно называть себя профессионалами. На данный момент наш коллектив состоит из более чем 30 сотрудников работающих в двух офисах в Москве и Зеленограде. 
					p Одним из основных направлений работ нашей компании является поисковое продвижение сайтов, на данной момент мы работаем с более чем 150 постоянными клиентами по более чем 11 000 поисковым запросам. При этом в работе основной акцент мы делаем на качестве работ, а так же применяем собственные уникальные разработки в области SEO продвижения. На данный момент отдел SEO состоит из 9 человек под руководством ведущего специалиста, преимущественно работающих в нашем московском офисе.