footer
	.footer_wrapper
		.f_left_sb
			p © 2012–2013 ЗАО «Компания» 
			a(href="#") info@name.ru
		.f_middle_block
			nav
				ul
					each title in [ "Главная", "Каталог", "Доставка и оплата", "Прайс-лист", "Контакты" ]
						li
							a(href="#")=title
		.f_right_sb
			p Online store