header
	#header_grid
		img(src="images/logo.png",  width="273", height="100", alt="Logo of the Company")
		.header_contact_menu
			p.header_text_style +7(499) 777-77-77
			p.header_text_style +7(499) 777-77-77
			p#lost.header_text_feedback Обратная связь