meta(charset="utf-8")
title Sample of online store
meta(name="description" content="Samples of code")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
link(rel="stylesheet", href="style.css")
link(rel="stylesheet", href="css/fonts.css")
link(rel="stylesheet", href="css/owl.carousel.min.css")
link(rel="stylesheet", href="css/owl.theme.default.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300")