section#main_menu
	.maim_menu_wrapper
			nav
				ul
					li.menu_border 
						a(href="#") Главная  
					li.menu_border 
						a(href="#") Каталог  
					li.menu_border  
						a(href="#") Доставка и оплата  
					li.menu_border  
						a(href="#") Прайс-лист  
					li 
						a(href="#") Контакты
				
				
