doctype html
html(lang="en")
	head
		include templates/head
	body
		include templates/header
		include templates/navigation
		include templates/slider
		include templates/banner
		include templates/main
		include templates/footer
		include templates/popup-registration


	
				   
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(async='', src='https://platform.twitter.com/widgets.js')
		script(async='', src='//embedr.flickr.com/assets/client-code.js')
		script(src="plugin/inewsticker.js")
		script(src="plugin/owl.carousel.min.js")  
		script(src="script.js")
