
@import '_reset-src';
@import '_footer';
@import '_header';
@import '_main';
@import '_ouroffer';

*{
	box-sizing: border-box;
}

html{
	font-size: 16px;	
	margin: 0 auto;
}
body {
	margin: 0 auto;
	padding: 0;	
	position: relative;
	width: 120rem;
}


/*style for PreLoader*/

#preloader{
	img{
		position: absolute;
		animation: loader 3s linear infinite;		
	}
}

@keyframes loader{
	0%{transform: rotate(0deg); left: 50%; top: 5%;}
	20%{transform: rotate(360deg); }
	40%{transform: rotate(720deg); }
	60%{transform: rotate(1080deg); }
	80%{transform: rotate(1440deg); }
	100%{transform: rotate(1800deg);left: 50%; top: 5%;}
}

/*media for Header*/

@media (max-width: 1955px){
	body{
		width: 100%;
	}
}

@media (max-width: 1600px){
	#header{
		width: 100%;
	}
}

@media (max-width: 1200px){
	.ellipse{
		background-image: url(images/elips2.png);
	}
}

@media (max-width: 1050px){
	#header{
		padding: 10px 10px 0 10px;
	}
	#hamburger{
		display: block;
		margin-top: 2px;
		transition: all 0.3s linear;
		z-index: 200;
	}
	.logo{
		img{
			width: 45px;
			height: 30px;
		}
		p{
			font-size: 15px;
			line-height: 15px;
			margin-left: 10px;
			padding-top: 0px;
			height: 0px;
			span{
				font-size: 20px;
			}
		}
	}
	nav{
		padding: 35px 0 0 0;
		margin: 0;
		display: none;
		position: absolute;
		top: 0%;
		right: -100%;
		z-index: 100;
		background-color: black;
	}
	nav ul{		
		display: flex;
		flex-direction: column;
		width: 8rem;		
	}
	li{
		padding: 25px 0 25px 5px;
		border: 3px solid transparent;
		text-align: right;
	
		&:hover{
			background-color: #000000;
			border: 3px solid #20aa97;
			border-radius: 4px;
		}
	}
	nav ul li a{
		color: white;
	}
	.line{
		display: none;
	}
}

@media (max-width: 380px){
	.ellipse{
		background-image: url(images/elips3.png);
		width: 5rem;
	}	
}

@media (max-width: 320px){
	.logo{
		p{
			font-size: 15px;
			line-height: 14px;
			margin-left: 9px;
			padding-top: 0px;
			span{
				font-size: 20px;
			}
		}
	}
}



/*media for Main*/

@media (max-width: 1580px){
	.service_wrap{
		width: 100%;
		justify-content: space-around;
		padding: 0 1%;
	}	
}

@media (max-width: 995px){
	.service{
		padding: 77px 0 0 0;
		h2{

			font-family: 'Proxima Nova Th';
			font-size: 70px;
			font-weight: 400;
			margin-bottom: 40px;
			span:nth-child(1){
				padding-right: 0px;
			}
		}
		&_tit{
			font-family: 'Proxima Nova Lt';
			font-size: 18px;
			line-height: 32px;
			width: 520px;
			margin: 0 auto;
		}
		&_tit2{
			font-family: 'Proxima Nova Lt';
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 70px;
		}
	}
}

@media (max-width: 560px){
	.service{
		padding: 77px 0 0 0;
		h2{
			font-size: 56px;
			margin-bottom: 30px;
		}
		&_tit{
			line-height: 30px;
			width: 295px;
			text-align: left;
			padding-left: 12px;
			margin-bottom: 33px;
		}
		&_tit2{
			margin: 0 auto;
			margin-bottom: 43px;
			width: 295px;
			text-align: left;
			padding-left: 12px;
		}
	}
	.service_wrap_block21{
		width: 160px;
		margin-left: 0px;
		margin-bottom: 34px;
		svg{
			margin-left: 13px;
			margin-bottom: 15px;
		}
	}
	.service_wrap_block21_text_par1{
		font-size: 16px;
		line-height: 1.5rem;
		margin-top: 8px;
		padding-right: 5px;
	}
	.service_wrap_block21_text_par2{
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5rem;
		width: 130px;
		margin: 0 auto;
	}
	.service_wrap_block22{
		width: 160px;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 34px;
		svg{
			margin-left: 14px;
			margin-bottom: 15px;
		}
	}
	.service_wrap_block22_text_par1{
		font-size: 16px;
		line-height: 1.5rem;
		margin-left: 1px;		
	}
	.service_wrap_block22_text_par2{
		width: 120px;
		font-size: 16px;
		margin: 0 auto;
	}
	.service_wrap_block23{
		width: 160px;
		margin-bottom: 35px;
		margin-left: 0;
		svg{
			margin-bottom: 14px;
			margin-left: 3px;
		}
		&_text_par1{
			font-size: 16px;
		}
		&_text_par2{
			width: 100px;
			font-size: 16px;
		}
	}
	.service_wrap_block24{
		width: 160px;
		margin-bottom: 35px;
		margin-right: 0;
		svg{
			margin-bottom: 12px;
			margin-top: 1px;
			margin-left: 14px;
		}
		&_text_par1{
			font-size: 16px;
			line-height: 1.5rem;
			margin-top: 8px;
			padding: 0;
		}
		&_text_par2{
			font-size: 16px;
			line-height: 1.5rem;
			margin: 0 auto;
			width: 100%;
		}
	}
	.service_wrap_block25{
		width: 160px;
		margin-bottom: 33px;
		margin-left: 0;
		svg{
			margin-bottom: 23px;
			margin-left: 4px;
		}
		&_text_par1{
			font-size: 16px;
			width: 100px;
			margin: 0 auto;
		}
		&_text_par2{
			font-size: 16px;
			width: 100%;
		}
	}
	.service_wrap_block26{
		width: 160px;
		margin-bottom: 33px;
		margin-right: 0;
	svg{
		margin-bottom: 20px;
		margin-left: 20px;
	}
	&_text_par1{
		font-size: 16px;
		line-height: 1.5rem;
		padding: 0;
	}
	&_text_par2{
		font-size: 16px;
		line-height: 1.5rem;
		margin: 0 auto;
		width: 140px;
	}
}
	.service_wrap_block27{
		width: 160px;
		margin-bottom: 34px;
		margin-left: 0;
		svg{
			margin-bottom: 13px;
			margin-left: 15px;
		}
		&_text_par1{
			font-size: 16px;
		}
		&_text_par2{
			font-size: 16px;
			width: 140px;
			margin: 0 auto;
		}
	}
	.service_wrap_block28{
		width: 160px;
		margin-bottom: 34px;
		margin-right: 0;
		svg{
			margin-bottom: 20px;
			margin-left: 15px;
		}
		&_text_par2{
			font-size: 16px;
			line-height: 1.5rem;	
			padding: 0;
		}
		&_text_par1{
			font-size: 16px;
			line-height: 1.5rem;
			width: 140px;
			margin: 0 auto;
		}
	}

	.service_wrap_block29{
		width: 160px;
		margin-bottom: 97px;
		margin-left: 0;
	svg{
		margin-bottom: 22px;
		margin-left: 5px;
	}
	&_text_par1{
		font-size: 16px;
		line-height: 1.5rem;
		margin: 0 auto;
		width: 100%;
		}
	&_text_par2{
		font-size: 16px;
		line-height: 1.5rem;		
		margin: 0 auto;
		}
	}

	.service_wrap_block30{
		width: 160px;
		margin-bottom: 97px;
		margin-right: 0;
		svg{
			margin-bottom: 22px;
			margin-left: 14px;
		}
		&_text_par1{
		font-size: 16px;
		line-height: 1.5rem;
		margin: 0 auto;
		width: 135px;
		}
		&_text_par2{
		font-size: 16px;
		line-height: 1.5rem;
		margin: 0 auto;
		}
	}
}

@media (max-width: 380px){
	.service_wrap{
		padding: 0;
	}
}

/*media for Our Offer*/


@media (max-width: 1225px){
	.our-offer_wrap{
		width: 100%;
		padding: 0 1%;
	}
}

@media (max-width: 990px){
	.our-offer{
		h2{
			margin-top: 200px;
			transition: all 0.3s linear;
			font-size: calc(46px + (60 - 46) * (100vw - 620px) / (990 - 620));
		}	
	}	
}

@media (max-width: 1100px){
	.our-offer_wrap{
		justify-content: center;
	}
	.our-offer_wrap_block1{
		width: 95%;
		margin-bottom: 20px;
	}
	.block-pix,
	.block-pix2,
	.block-pix3 {
	  	margin-top: 0;
  	}
}

@media (max-width: 510px){
	.ooffer1{
		margin-bottom: 105px;
	}
	.ooffer2{	
		margin-bottom: 45px;
	}
	.ooffer3{
		margin-bottom: 45px;
	}
	.ooffer4{
		margin-bottom: 76px;
	}
	.ooffer5{
		margin-bottom: 85px;
	}
	.ooffer6{
		margin-bottom: 62px;
	}
	.ooffer7{
		margin-bottom: 43px;
	}
}

/*media for Footer*/

@media (max-width: 1180px){
	footer{
		margin-top: 0;
		height: 97px; 
	}
}

@media (max-width: 580px){
	footer{
		height: 110px; 
		p{
			font-size: 12px;
			width: 250px;
			margin-left: 18px;
			margin: 0 auto;
			margin-bottom: 4px;
		}
	}
}