doctype html
html(lang="ru")
	head
		include templates/head
	body
		include templates/main
		include templates/footer
		include templates/feedback
				   
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="plugin/owl.carousel.min.js")  
		script(src="script.js")
