meta(charset="UTF-8")
title Main Page
meta(name="description" content="Online store of shoes")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
link(rel="stylesheet", href="style.css")
link(rel="stylesheet", href="css/fonts.css")
link(rel="stylesheet", href="css/owl.carousel.min.css")
link(rel="stylesheet", href="css/owl.theme.default.min.css")