header.header
	.header-wrap
		h1.logo 
			a(href='index.html') FooseShoes
		.product-logo-search-wrap
			form(action="URL").form-search
				input(type='search').input-search
				button(name="search").search-btn
					i.fa.fa-search(aria-hidden="true")
			.search-result
				span.search-result__item Men Shoes
				span.search-result__item Kids
			.login LOGIN or REGISTER
