main.products-main-content
	.products-content-wrap
		.sorting
			.sorting-left-content
				span.sorting-left__caption All Products
				span.sorting-left__route Home  >  All Products
			.sorting-right-content
				span.sorting-right__caption View as
				.grid-wrap
					span.grid-item
					span.grid-item
					span.grid-item
					span.grid-item
				.line-wrap
					.line
						span.line__point
						span.line__route
					.line
						span.line__point
						span.line__route
					.line
						span.line__point
						span.line__route
				.sort-wrap
					span.sort__caption Sort alphabetically
					img(src='images/arrow-sort.png' alt="arrow").sort__arrow
		.products-content
				.pdt-shoes-block(data-id-product="1")
					.pdt-shoes-block__img
					.pdt-shoes-text-icons-wrap
						.pdt-shoes-block__text Even&Odd
						.pdt-shoes-block__icons
							svg.pdt-view-icon(width='18', height='14', viewbox='0 0 18 14')
								path#link25(d='M365 1581c0 .04 0 .08-.02.11v.07l-.02.02-.01.04A9.17 9.17 0 0 1 357 1586c-3.33 0-6.5-1.99-7.95-4.77v-.03l-.02-.03-.01-.06-.02-.11c0-.04 0-.08.02-.11v-.07l.02-.02.01-.04A9.17 9.17 0 0 1 357 1576c3.33 0 6.5 1.99 7.95 4.77v.04c.01 0 .02 0 .02.02l.01.06.02.11zm-1 0a8.26 8.26 0 0 0-7-4c-2.8 0-5.62 1.6-7 4 1.37 2.4 4.19 4 7 4 2.8 0 5.62-1.6 7-4zm-6.75-1.75c0 .14-.11.25-.25.25-.83 0-1.5.67-1.5 1.5a.25.25 0 1 1-.5 0c0-1.1.9-2 2-2 .14 0 .25.11.25.25zm3.24 1.75a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-.5 0a3 3 0 1 0-6.01 0 3 3 0 0 0 6.01 0z')
								g(transform='translate(-348 -1574)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link25')
							i.fa.fa-star-o(aria-hidden="true")
							svg.pdt-share-icon(width='20', height='17', viewbox='0 0 20 17')
								path#link26(d='M442.96 1576.34V1574l5.04 4.02-5.04 3.98v-2.44c-5.45 0-6.99 2.44-6.99 2.44 0-5.37 6.86-5.66 6.99-5.66zM446 1584v1l-.02.1a2 2 0 0 1-1.99 1.9h-10a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2H437a1 1 0 0 1 1 1c0 .02-.45 0-1 0h-4.01v10h12v-2h.01c0-.55-.02-1 0-1a1 1 0 0 1 1 1z')
								g(transform='translate(-430 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link26')
							svg.pdt-buy-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='18', viewbox='0 0 19 18')
								path#link27(d='M481.5 1585.2a1.4 1.4 0 1 1 0 2.78 1.4 1.4 0 0 1 0-2.79zm5-.04a1.42 1.42 0 1 1 0 2.85 1.42 1.42 0 0 1 0-2.85zm2.8-9.07a1 1 0 0 1 .65 1.26l-1.8 5.24c-.35 1.05-.96 1.49-2.18 1.49h-3.84c-.94 0-1.5-.5-2.08-1.49l-2.8-5.54H475a1 1 0 0 1 0-2h2.66c.41 0 1.17.36 1.36.94 0 0 1.53 3.25 2.44 5.05.33.75.79 1.03 1.48 1.03h2.12c.8 0 1.19-.22 1.48-1.03.5-1.79 1.5-4.3 1.5-4.3a1 1 0 0 1 1.26-.65c-.53-.17.52.17 0 0zm-6.3-.04v-2.03a1 1 0 0 1 1-1 1 1 0 0 1 1 1v2.03h2.54l-3.54 3.55-3.54-3.55z')
								g(transform='translate(-473 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link27')
					.pdt-shoes-price $145,99
				.pdt-shoes-block2(data-id-product="2")
					.pdt-shoes-block2__img
					.pdt-shoes-text-icons-wrap
						.pdt-shoes-block__text Even&Odd
						.pdt-shoes-block__icons
							svg.pdt-view-icon(width='18', height='14', viewbox='0 0 18 14')
								path#link28(d='M365 1581c0 .04 0 .08-.02.11v.07l-.02.02-.01.04A9.17 9.17 0 0 1 357 1586c-3.33 0-6.5-1.99-7.95-4.77v-.03l-.02-.03-.01-.06-.02-.11c0-.04 0-.08.02-.11v-.07l.02-.02.01-.04A9.17 9.17 0 0 1 357 1576c3.33 0 6.5 1.99 7.95 4.77v.04c.01 0 .02 0 .02.02l.01.06.02.11zm-1 0a8.26 8.26 0 0 0-7-4c-2.8 0-5.62 1.6-7 4 1.37 2.4 4.19 4 7 4 2.8 0 5.62-1.6 7-4zm-6.75-1.75c0 .14-.11.25-.25.25-.83 0-1.5.67-1.5 1.5a.25.25 0 1 1-.5 0c0-1.1.9-2 2-2 .14 0 .25.11.25.25zm3.24 1.75a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-.5 0a3 3 0 1 0-6.01 0 3 3 0 0 0 6.01 0z')
								g(transform='translate(-348 -1574)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link28')
							i.fa.fa-star-o(aria-hidden="true")
							svg.pdt-share-icon(width='20', height='17', viewbox='0 0 20 17')
								path#link29(d='M442.96 1576.34V1574l5.04 4.02-5.04 3.98v-2.44c-5.45 0-6.99 2.44-6.99 2.44 0-5.37 6.86-5.66 6.99-5.66zM446 1584v1l-.02.1a2 2 0 0 1-1.99 1.9h-10a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2H437a1 1 0 0 1 1 1c0 .02-.45 0-1 0h-4.01v10h12v-2h.01c0-.55-.02-1 0-1a1 1 0 0 1 1 1z')
								g(transform='translate(-430 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link29')
							svg.pdt-buy-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='18', viewbox='0 0 19 18')
								path#link30(d='M481.5 1585.2a1.4 1.4 0 1 1 0 2.78 1.4 1.4 0 0 1 0-2.79zm5-.04a1.42 1.42 0 1 1 0 2.85 1.42 1.42 0 0 1 0-2.85zm2.8-9.07a1 1 0 0 1 .65 1.26l-1.8 5.24c-.35 1.05-.96 1.49-2.18 1.49h-3.84c-.94 0-1.5-.5-2.08-1.49l-2.8-5.54H475a1 1 0 0 1 0-2h2.66c.41 0 1.17.36 1.36.94 0 0 1.53 3.25 2.44 5.05.33.75.79 1.03 1.48 1.03h2.12c.8 0 1.19-.22 1.48-1.03.5-1.79 1.5-4.3 1.5-4.3a1 1 0 0 1 1.26-.65c-.53-.17.52.17 0 0zm-6.3-.04v-2.03a1 1 0 0 1 1-1 1 1 0 0 1 1 1v2.03h2.54l-3.54 3.55-3.54-3.55z')
								g(transform='translate(-473 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link30')
					.pdt-shoes-price $145,99
					.pdt-sale-badge on sale!
				.pdt-shoes-block3(data-id-product="3")
					.pdt-shoes-block3__img
					.pdt-shoes-text-icons-wrap
						.pdt-shoes-block__text Buffalo Decollete
						.pdt-shoes-block__icons
							svg.pdt-view-icon(width='18', height='14', viewbox='0 0 18 14')
								path#link31(d='M365 1581c0 .04 0 .08-.02.11v.07l-.02.02-.01.04A9.17 9.17 0 0 1 357 1586c-3.33 0-6.5-1.99-7.95-4.77v-.03l-.02-.03-.01-.06-.02-.11c0-.04 0-.08.02-.11v-.07l.02-.02.01-.04A9.17 9.17 0 0 1 357 1576c3.33 0 6.5 1.99 7.95 4.77v.04c.01 0 .02 0 .02.02l.01.06.02.11zm-1 0a8.26 8.26 0 0 0-7-4c-2.8 0-5.62 1.6-7 4 1.37 2.4 4.19 4 7 4 2.8 0 5.62-1.6 7-4zm-6.75-1.75c0 .14-.11.25-.25.25-.83 0-1.5.67-1.5 1.5a.25.25 0 1 1-.5 0c0-1.1.9-2 2-2 .14 0 .25.11.25.25zm3.24 1.75a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-.5 0a3 3 0 1 0-6.01 0 3 3 0 0 0 6.01 0z')
								g(transform='translate(-348 -1574)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link31')
							i.fa.fa-star-o(aria-hidden="true")
							svg.pdt-share-icon(width='20', height='17', viewbox='0 0 20 17')
								path#link32(d='M442.96 1576.34V1574l5.04 4.02-5.04 3.98v-2.44c-5.45 0-6.99 2.44-6.99 2.44 0-5.37 6.86-5.66 6.99-5.66zM446 1584v1l-.02.1a2 2 0 0 1-1.99 1.9h-10a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2H437a1 1 0 0 1 1 1c0 .02-.45 0-1 0h-4.01v10h12v-2h.01c0-.55-.02-1 0-1a1 1 0 0 1 1 1z')
								g(transform='translate(-430 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link32')
							svg.pdt-buy-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='18', viewbox='0 0 19 18')
								path#link33(d='M481.5 1585.2a1.4 1.4 0 1 1 0 2.78 1.4 1.4 0 0 1 0-2.79zm5-.04a1.42 1.42 0 1 1 0 2.85 1.42 1.42 0 0 1 0-2.85zm2.8-9.07a1 1 0 0 1 .65 1.26l-1.8 5.24c-.35 1.05-.96 1.49-2.18 1.49h-3.84c-.94 0-1.5-.5-2.08-1.49l-2.8-5.54H475a1 1 0 0 1 0-2h2.66c.41 0 1.17.36 1.36.94 0 0 1.53 3.25 2.44 5.05.33.75.79 1.03 1.48 1.03h2.12c.8 0 1.19-.22 1.48-1.03.5-1.79 1.5-4.3 1.5-4.3a1 1 0 0 1 1.26-.65c-.53-.17.52.17 0 0zm-6.3-.04v-2.03a1 1 0 0 1 1-1 1 1 0 0 1 1 1v2.03h2.54l-3.54 3.55-3.54-3.55z')
								g(transform='translate(-473 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link33')
					.pdt-shoes-price $145,9
				.pdt-shoes-block4(data-id-product="4")
					.pdt-shoes-block4__img
					.pdt-shoes-text-icons-wrap
						.pdt-shoes-block__text Even&Odd
						.pdt-shoes-block__icons
							svg.pdt-view-icon(width='18', height='14', viewbox='0 0 18 14')
								path#link34(d='M365 1581c0 .04 0 .08-.02.11v.07l-.02.02-.01.04A9.17 9.17 0 0 1 357 1586c-3.33 0-6.5-1.99-7.95-4.77v-.03l-.02-.03-.01-.06-.02-.11c0-.04 0-.08.02-.11v-.07l.02-.02.01-.04A9.17 9.17 0 0 1 357 1576c3.33 0 6.5 1.99 7.95 4.77v.04c.01 0 .02 0 .02.02l.01.06.02.11zm-1 0a8.26 8.26 0 0 0-7-4c-2.8 0-5.62 1.6-7 4 1.37 2.4 4.19 4 7 4 2.8 0 5.62-1.6 7-4zm-6.75-1.75c0 .14-.11.25-.25.25-.83 0-1.5.67-1.5 1.5a.25.25 0 1 1-.5 0c0-1.1.9-2 2-2 .14 0 .25.11.25.25zm3.24 1.75a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-.5 0a3 3 0 1 0-6.01 0 3 3 0 0 0 6.01 0z')
								g(transform='translate(-348 -1574)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link34')
							i.fa.fa-star-o(aria-hidden="true")
							svg.pdt-share-icon(width='20', height='17', viewbox='0 0 20 17')
								path#link35(d='M442.96 1576.34V1574l5.04 4.02-5.04 3.98v-2.44c-5.45 0-6.99 2.44-6.99 2.44 0-5.37 6.86-5.66 6.99-5.66zM446 1584v1l-.02.1a2 2 0 0 1-1.99 1.9h-10a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2H437a1 1 0 0 1 1 1c0 .02-.45 0-1 0h-4.01v10h12v-2h.01c0-.55-.02-1 0-1a1 1 0 0 1 1 1z')
								g(transform='translate(-430 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link35')
							svg.pdt-buy-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='18', viewbox='0 0 19 18')
								path#link36(d='M481.5 1585.2a1.4 1.4 0 1 1 0 2.78 1.4 1.4 0 0 1 0-2.79zm5-.04a1.42 1.42 0 1 1 0 2.85 1.42 1.42 0 0 1 0-2.85zm2.8-9.07a1 1 0 0 1 .65 1.26l-1.8 5.24c-.35 1.05-.96 1.49-2.18 1.49h-3.84c-.94 0-1.5-.5-2.08-1.49l-2.8-5.54H475a1 1 0 0 1 0-2h2.66c.41 0 1.17.36 1.36.94 0 0 1.53 3.25 2.44 5.05.33.75.79 1.03 1.48 1.03h2.12c.8 0 1.19-.22 1.48-1.03.5-1.79 1.5-4.3 1.5-4.3a1 1 0 0 1 1.26-.65c-.53-.17.52.17 0 0zm-6.3-.04v-2.03a1 1 0 0 1 1-1 1 1 0 0 1 1 1v2.03h2.54l-3.54 3.55-3.54-3.55z')
								g(transform='translate(-473 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link36')
					.pdt-shoes-price $145,99
				.pdt-shoes-block5(data-id-product="5")
					.pdt-shoes-block5__img
					.pdt-shoes-text-icons-wrap
						.pdt-shoes-block__text Even&Odd
						.pdt-shoes-block__icons
							svg.pdt-view-icon(width='18', height='14', viewbox='0 0 18 14')
								path#link37(d='M365 1581c0 .04 0 .08-.02.11v.07l-.02.02-.01.04A9.17 9.17 0 0 1 357 1586c-3.33 0-6.5-1.99-7.95-4.77v-.03l-.02-.03-.01-.06-.02-.11c0-.04 0-.08.02-.11v-.07l.02-.02.01-.04A9.17 9.17 0 0 1 357 1576c3.33 0 6.5 1.99 7.95 4.77v.04c.01 0 .02 0 .02.02l.01.06.02.11zm-1 0a8.26 8.26 0 0 0-7-4c-2.8 0-5.62 1.6-7 4 1.37 2.4 4.19 4 7 4 2.8 0 5.62-1.6 7-4zm-6.75-1.75c0 .14-.11.25-.25.25-.83 0-1.5.67-1.5 1.5a.25.25 0 1 1-.5 0c0-1.1.9-2 2-2 .14 0 .25.11.25.25zm3.24 1.75a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-.5 0a3 3 0 1 0-6.01 0 3 3 0 0 0 6.01 0z')
								g(transform='translate(-348 -1574)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link37')
							i.fa.fa-star-o(aria-hidden="true")
							svg.pdt-share-icon(width='20', height='17', viewbox='0 0 20 17')
								path#link38(d='M442.96 1576.34V1574l5.04 4.02-5.04 3.98v-2.44c-5.45 0-6.99 2.44-6.99 2.44 0-5.37 6.86-5.66 6.99-5.66zM446 1584v1l-.02.1a2 2 0 0 1-1.99 1.9h-10a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2H437a1 1 0 0 1 1 1c0 .02-.45 0-1 0h-4.01v10h12v-2h.01c0-.55-.02-1 0-1a1 1 0 0 1 1 1z')
								g(transform='translate(-430 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link38')
							svg.pdt-buy-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='18', viewbox='0 0 19 18')
								path#link39(d='M481.5 1585.2a1.4 1.4 0 1 1 0 2.78 1.4 1.4 0 0 1 0-2.79zm5-.04a1.42 1.42 0 1 1 0 2.85 1.42 1.42 0 0 1 0-2.85zm2.8-9.07a1 1 0 0 1 .65 1.26l-1.8 5.24c-.35 1.05-.96 1.49-2.18 1.49h-3.84c-.94 0-1.5-.5-2.08-1.49l-2.8-5.54H475a1 1 0 0 1 0-2h2.66c.41 0 1.17.36 1.36.94 0 0 1.53 3.25 2.44 5.05.33.75.79 1.03 1.48 1.03h2.12c.8 0 1.19-.22 1.48-1.03.5-1.79 1.5-4.3 1.5-4.3a1 1 0 0 1 1.26-.65c-.53-.17.52.17 0 0zm-6.3-.04v-2.03a1 1 0 0 1 1-1 1 1 0 0 1 1 1v2.03h2.54l-3.54 3.55-3.54-3.55z')
								g(transform='translate(-473 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link39')
					.pdt-shoes-price $145,99
				.pdt-shoes-block6(data-id-product="6")
					.pdt-shoes-block6__img
					.pdt-shoes-text-icons-wrap
						.pdt-shoes-block__text Buffalo Decollete
						.pdt-shoes-block__icons
							svg.pdt-view-icon(width='18', height='14', viewbox='0 0 18 14')
								path#link40(d='M365 1581c0 .04 0 .08-.02.11v.07l-.02.02-.01.04A9.17 9.17 0 0 1 357 1586c-3.33 0-6.5-1.99-7.95-4.77v-.03l-.02-.03-.01-.06-.02-.11c0-.04 0-.08.02-.11v-.07l.02-.02.01-.04A9.17 9.17 0 0 1 357 1576c3.33 0 6.5 1.99 7.95 4.77v.04c.01 0 .02 0 .02.02l.01.06.02.11zm-1 0a8.26 8.26 0 0 0-7-4c-2.8 0-5.62 1.6-7 4 1.37 2.4 4.19 4 7 4 2.8 0 5.62-1.6 7-4zm-6.75-1.75c0 .14-.11.25-.25.25-.83 0-1.5.67-1.5 1.5a.25.25 0 1 1-.5 0c0-1.1.9-2 2-2 .14 0 .25.11.25.25zm3.24 1.75a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-.5 0a3 3 0 1 0-6.01 0 3 3 0 0 0 6.01 0z')
								g(transform='translate(-348 -1574)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link40')
							i.fa.fa-star-o(aria-hidden="true")
							svg.pdt-share-icon(width='20', height='17', viewbox='0 0 20 17')
								path#link41(d='M442.96 1576.34V1574l5.04 4.02-5.04 3.98v-2.44c-5.45 0-6.99 2.44-6.99 2.44 0-5.37 6.86-5.66 6.99-5.66zM446 1584v1l-.02.1a2 2 0 0 1-1.99 1.9h-10a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2H437a1 1 0 0 1 1 1c0 .02-.45 0-1 0h-4.01v10h12v-2h.01c0-.55-.02-1 0-1a1 1 0 0 1 1 1z')
								g(transform='translate(-430 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link41')
							svg.pdt-buy-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='18', viewbox='0 0 19 18')
								path#link42(d='M481.5 1585.2a1.4 1.4 0 1 1 0 2.78 1.4 1.4 0 0 1 0-2.79zm5-.04a1.42 1.42 0 1 1 0 2.85 1.42 1.42 0 0 1 0-2.85zm2.8-9.07a1 1 0 0 1 .65 1.26l-1.8 5.24c-.35 1.05-.96 1.49-2.18 1.49h-3.84c-.94 0-1.5-.5-2.08-1.49l-2.8-5.54H475a1 1 0 0 1 0-2h2.66c.41 0 1.17.36 1.36.94 0 0 1.53 3.25 2.44 5.05.33.75.79 1.03 1.48 1.03h2.12c.8 0 1.19-.22 1.48-1.03.5-1.79 1.5-4.3 1.5-4.3a1 1 0 0 1 1.26-.65c-.53-.17.52.17 0 0zm-6.3-.04v-2.03a1 1 0 0 1 1-1 1 1 0 0 1 1 1v2.03h2.54l-3.54 3.55-3.54-3.55z')
								g(transform='translate(-473 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link42')
					.pdt-shoes-price $145,99
					.pdt-outofstock-badge out of
						span stock
				.pdt-shoes-block(data-id-product="7")
					.pdt-shoes-block__img
					.pdt-shoes-text-icons-wrap
						.pdt-shoes-block__text Even&Odd
						.pdt-shoes-block__icons
							svg.pdt-view-icon(width='18', height='14', viewbox='0 0 18 14')
								path#link43(d='M365 1581c0 .04 0 .08-.02.11v.07l-.02.02-.01.04A9.17 9.17 0 0 1 357 1586c-3.33 0-6.5-1.99-7.95-4.77v-.03l-.02-.03-.01-.06-.02-.11c0-.04 0-.08.02-.11v-.07l.02-.02.01-.04A9.17 9.17 0 0 1 357 1576c3.33 0 6.5 1.99 7.95 4.77v.04c.01 0 .02 0 .02.02l.01.06.02.11zm-1 0a8.26 8.26 0 0 0-7-4c-2.8 0-5.62 1.6-7 4 1.37 2.4 4.19 4 7 4 2.8 0 5.62-1.6 7-4zm-6.75-1.75c0 .14-.11.25-.25.25-.83 0-1.5.67-1.5 1.5a.25.25 0 1 1-.5 0c0-1.1.9-2 2-2 .14 0 .25.11.25.25zm3.24 1.75a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-.5 0a3 3 0 1 0-6.01 0 3 3 0 0 0 6.01 0z')
								g(transform='translate(-348 -1574)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link43')
							i.fa.fa-star-o(aria-hidden="true")
							svg.pdt-share-icon(width='20', height='17', viewbox='0 0 20 17')
								path#link44(d='M442.96 1576.34V1574l5.04 4.02-5.04 3.98v-2.44c-5.45 0-6.99 2.44-6.99 2.44 0-5.37 6.86-5.66 6.99-5.66zM446 1584v1l-.02.1a2 2 0 0 1-1.99 1.9h-10a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2H437a1 1 0 0 1 1 1c0 .02-.45 0-1 0h-4.01v10h12v-2h.01c0-.55-.02-1 0-1a1 1 0 0 1 1 1z')
								g(transform='translate(-430 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link44')
							svg.pdt-buy-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='18', viewbox='0 0 19 18')
								path#link45(d='M481.5 1585.2a1.4 1.4 0 1 1 0 2.78 1.4 1.4 0 0 1 0-2.79zm5-.04a1.42 1.42 0 1 1 0 2.85 1.42 1.42 0 0 1 0-2.85zm2.8-9.07a1 1 0 0 1 .65 1.26l-1.8 5.24c-.35 1.05-.96 1.49-2.18 1.49h-3.84c-.94 0-1.5-.5-2.08-1.49l-2.8-5.54H475a1 1 0 0 1 0-2h2.66c.41 0 1.17.36 1.36.94 0 0 1.53 3.25 2.44 5.05.33.75.79 1.03 1.48 1.03h2.12c.8 0 1.19-.22 1.48-1.03.5-1.79 1.5-4.3 1.5-4.3a1 1 0 0 1 1.26-.65c-.53-.17.52.17 0 0zm-6.3-.04v-2.03a1 1 0 0 1 1-1 1 1 0 0 1 1 1v2.03h2.54l-3.54 3.55-3.54-3.55z')
								g(transform='translate(-473 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link45')
					.pdt-shoes-price $145,99
				.pdt-shoes-block2(data-id-product="8")
					.pdt-shoes-block2__img
					.pdt-shoes-text-icons-wrap
						.pdt-shoes-block__text Even&Odd
						.pdt-shoes-block__icons
							svg.pdt-view-icon(width='18', height='14', viewbox='0 0 18 14')
								path#link46(d='M365 1581c0 .04 0 .08-.02.11v.07l-.02.02-.01.04A9.17 9.17 0 0 1 357 1586c-3.33 0-6.5-1.99-7.95-4.77v-.03l-.02-.03-.01-.06-.02-.11c0-.04 0-.08.02-.11v-.07l.02-.02.01-.04A9.17 9.17 0 0 1 357 1576c3.33 0 6.5 1.99 7.95 4.77v.04c.01 0 .02 0 .02.02l.01.06.02.11zm-1 0a8.26 8.26 0 0 0-7-4c-2.8 0-5.62 1.6-7 4 1.37 2.4 4.19 4 7 4 2.8 0 5.62-1.6 7-4zm-6.75-1.75c0 .14-.11.25-.25.25-.83 0-1.5.67-1.5 1.5a.25.25 0 1 1-.5 0c0-1.1.9-2 2-2 .14 0 .25.11.25.25zm3.24 1.75a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-.5 0a3 3 0 1 0-6.01 0 3 3 0 0 0 6.01 0z')
								g(transform='translate(-348 -1574)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link46')
							i.fa.fa-star-o(aria-hidden="true")
							svg.pdt-share-icon(width='20', height='17', viewbox='0 0 20 17')
								path#link47(d='M442.96 1576.34V1574l5.04 4.02-5.04 3.98v-2.44c-5.45 0-6.99 2.44-6.99 2.44 0-5.37 6.86-5.66 6.99-5.66zM446 1584v1l-.02.1a2 2 0 0 1-1.99 1.9h-10a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2H437a1 1 0 0 1 1 1c0 .02-.45 0-1 0h-4.01v10h12v-2h.01c0-.55-.02-1 0-1a1 1 0 0 1 1 1z')
								g(transform='translate(-430 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link47')
							svg.pdt-buy-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='18', viewbox='0 0 19 18')
								path#link48(d='M481.5 1585.2a1.4 1.4 0 1 1 0 2.78 1.4 1.4 0 0 1 0-2.79zm5-.04a1.42 1.42 0 1 1 0 2.85 1.42 1.42 0 0 1 0-2.85zm2.8-9.07a1 1 0 0 1 .65 1.26l-1.8 5.24c-.35 1.05-.96 1.49-2.18 1.49h-3.84c-.94 0-1.5-.5-2.08-1.49l-2.8-5.54H475a1 1 0 0 1 0-2h2.66c.41 0 1.17.36 1.36.94 0 0 1.53 3.25 2.44 5.05.33.75.79 1.03 1.48 1.03h2.12c.8 0 1.19-.22 1.48-1.03.5-1.79 1.5-4.3 1.5-4.3a1 1 0 0 1 1.26-.65c-.53-.17.52.17 0 0zm-6.3-.04v-2.03a1 1 0 0 1 1-1 1 1 0 0 1 1 1v2.03h2.54l-3.54 3.55-3.54-3.55z')
								g(transform='translate(-473 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link48')
					.pdt-shoes-price $145,99
					.pdt-sale-badge on sale!
				.pdt-shoes-block3(data-id-product="9")
					.pdt-shoes-block3__img
					.pdt-shoes-text-icons-wrap
						.pdt-shoes-block__text Buffalo Decollete
						.pdt-shoes-block__icons
							svg.pdt-view-icon(width='18', height='14', viewbox='0 0 18 14')
								path#link49(d='M365 1581c0 .04 0 .08-.02.11v.07l-.02.02-.01.04A9.17 9.17 0 0 1 357 1586c-3.33 0-6.5-1.99-7.95-4.77v-.03l-.02-.03-.01-.06-.02-.11c0-.04 0-.08.02-.11v-.07l.02-.02.01-.04A9.17 9.17 0 0 1 357 1576c3.33 0 6.5 1.99 7.95 4.77v.04c.01 0 .02 0 .02.02l.01.06.02.11zm-1 0a8.26 8.26 0 0 0-7-4c-2.8 0-5.62 1.6-7 4 1.37 2.4 4.19 4 7 4 2.8 0 5.62-1.6 7-4zm-6.75-1.75c0 .14-.11.25-.25.25-.83 0-1.5.67-1.5 1.5a.25.25 0 1 1-.5 0c0-1.1.9-2 2-2 .14 0 .25.11.25.25zm3.24 1.75a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-.5 0a3 3 0 1 0-6.01 0 3 3 0 0 0 6.01 0z')
								g(transform='translate(-348 -1574)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link49')
							i.fa.fa-star-o(aria-hidden="true")
							svg.pdt-share-icon(width='20', height='17', viewbox='0 0 20 17')
								path#link50(d='M442.96 1576.34V1574l5.04 4.02-5.04 3.98v-2.44c-5.45 0-6.99 2.44-6.99 2.44 0-5.37 6.86-5.66 6.99-5.66zM446 1584v1l-.02.1a2 2 0 0 1-1.99 1.9h-10a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2H437a1 1 0 0 1 1 1c0 .02-.45 0-1 0h-4.01v10h12v-2h.01c0-.55-.02-1 0-1a1 1 0 0 1 1 1z')
								g(transform='translate(-430 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link50')
							svg.pdt-buy-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='18', viewbox='0 0 19 18')
								path#link51(d='M481.5 1585.2a1.4 1.4 0 1 1 0 2.78 1.4 1.4 0 0 1 0-2.79zm5-.04a1.42 1.42 0 1 1 0 2.85 1.42 1.42 0 0 1 0-2.85zm2.8-9.07a1 1 0 0 1 .65 1.26l-1.8 5.24c-.35 1.05-.96 1.49-2.18 1.49h-3.84c-.94 0-1.5-.5-2.08-1.49l-2.8-5.54H475a1 1 0 0 1 0-2h2.66c.41 0 1.17.36 1.36.94 0 0 1.53 3.25 2.44 5.05.33.75.79 1.03 1.48 1.03h2.12c.8 0 1.19-.22 1.48-1.03.5-1.79 1.5-4.3 1.5-4.3a1 1 0 0 1 1.26-.65c-.53-.17.52.17 0 0zm-6.3-.04v-2.03a1 1 0 0 1 1-1 1 1 0 0 1 1 1v2.03h2.54l-3.54 3.55-3.54-3.55z')
								g(transform='translate(-473 -1572)')
									use.pdt-shoes-icons(fill='#6e6e6e', xlink:href='#link51')
					.pdt-shoes-price $145,9
		.product-separator
		.bottom-content
			.plain-text
				p.plain-text__caption Free Shipping
				p.plain-text__content Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec erat sem, 
			.plain-text2
				p.plain-text__caption Testimonials
				p.plain-text__content vel, vulputate vel nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec erat sem, vehicula id dictum sit [...]
				p.plain-text__content2  - John Doe -
			.block-news
				.block-news__caption Blog news
				ul.news-menu
					li.news-menu__item
						.block-news-wrap
							.data-wrap
								span APR
								span 01
							.text-wrap
								span Nice & clean. The best for you blog!
								span Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel 
						.block-news-wrap
							.data-wrap
								span APR
								span 01
							.text-wrap
								span What an Ecommerce theme!
								span Vulputate vel nibth. Class aptent taciti sociosqu ad litora 
					li.news-menu__item
						.block-news-wrap
							.data-wrap
								span APR
								span 02
							.text-wrap
								span How to choose?
								span Class aptent taciti sociosqu ad litora torquent per conubia nostra
						.block-news-wrap
							.data-wrap
								span APR
								span 04
							.text-wrap
								span New arrivals!
								span Per inceptos himenaeos. Donec erat sem, vehicula id dictum sit 
					li.news-menu__item
						.block-news-wrap
							.data-wrap
								span APR
								span 06
							.text-wrap
								span What is next?
								span Donec erat sem, vehicula id dictum sit
						.block-news-wrap
							.data-wrap
								span APR
								span 08
							.text-wrap
								span Show, show, show!
								span Vivamus metus turpis, bibendum vitae euismod vel