section.assortment
	.selection-wrap
		span.selection__caption Shop by
		.brans-wrap
			.brands-name-wrap
				span.brands-name__caption Brands
				img(src='images/arrow.png' alt="arrow").brands-name__arrow
			ul.brands-menu
				li.brands-menu__item Watson
				li.brands-menu__item Spenser
				li.brands-menu__item Adidas
		.categories-wrap
			.categories-name-wrap
				span.categories-name__caption Categories
				img(src='images/arrow.png' alt="arrow").categories__arrow
			ul.categories-menu
				li.categories-menu__item Woman
				li.categories-menu__item Man
				li.categories-menu__item Children
		.price-wrap
			.price-name-wrap
				span.price-name__caption Price
				img(src='images/arrow.png' alt="arrow").price__arrow
			ul.price-menu
				li.price-menu__item &lt; 500$
				li.price-menu__item 500$-1000$
				li.price-menu__item &gt; 1000$