section.banner
	.banner-content-wrap
		.price-caption-wrap
			.pdt-price
				span.pdt-price__content $145,99
			.pdt-caption 
				span.pdt-caption__content Pink Shoes
				span.pdt-caption__content 2013 Collection
		.description-wrap
			span Nunc non fermentum nunc. Sed ut ante 
			span eget leo tempor consequat sit amet eu orci. 
			span Donec dignissim dolor eget..


